:root {
  --background-color: #eff1fd;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* debugging */
/* 
* {
  border: 1px solid red;
} */
/* debugging */

body {
  margin: 0;
  /* border: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff1fd;
  overflow: none;
}

/*  */
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.card {
  margin: 0 auto;
  display: flex;
  background: white;
  border-radius: 32px;
  box-shadow: var(--light-shadow);
  text-align: center;
  width: 80vw;
}
.form-div {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  padding: 0 5vw;
}
form {
  width: 100%;
}

.form-group input {
  background-color: #eff1fd;
  width: 100%;
  border: none;
}

.password-div {
  display: flex;
}

.password-div input {
  width: 100%;
}
.password-div button {
  width: 0;
  margin: 0;
  padding: 0;
  position: relative;
  left: -45px;
  font-size: small;
  background: none;
  border: none;
}
.password-div button:hover {
  color: #0a4cd3;
}

.submitButton:hover {
  width: "9vw";
  height: "3vw";
  border-radius: "12px";
  background-color: "#4497f6";
}
button .submitButton {
  width: "9vw";
  height: "3vw";
  border-radius: "12px";
  background-color: "#4497f6";
}

.img-container {
  width: 45%;
  background-image: linear-gradient(
    90deg,
    rgba(221, 139, 239, 1) 5%,
    rgba(110, 57, 183, 1) 50%,
    rgba(42, 39, 171, 1) 85%,
    rgba(68, 151, 246, 1) 100%
  );
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
.logo {
  height: 50px;
}

.img {
  opacity: 0.2;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  height: 70vh;
  object-fit: cover;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
/* list-books component */

aside {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: white;
  transition: var(--transition);
  transform: translate(-90%);
}

.show-sidebar {
  transform: translate(0);
}

.sidebar-Header {
  padding: 15px;
  padding-right: 0;
}

.sidebar-tabs {
  padding-top: 15px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  vertical-align: middle;
  height: 60px;
  padding-left: 20px;
}
.tab:hover {
  background-color: var(--background-color);
  border-right: 3px solid #ad5eab;
}
/* .colored-edge {
  width: 2px;
  background-color: #ad5eab;
} */

.active-tab {
  background-color: var(--background-color);
  border-right: 3px solid #ad5eab;
}

.minimized-listBook {
  width: 80vw;
  transition: var(--transition);
}

/* .full-ListBook {
  width: 100vw;
  transition: var(--transition);
} */

.content {
  width: 100vw;
  height: 100vh;
  /* border: 10px solid red; */
}

/* navbar */
nav {
  transition: var(--transition);
  max-width: 100%;
  width: 90%;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  padding-left: 5vw;
  padding-right: 1vw;
  justify-content: space-between;
  vertical-align: bottom;
  overflow: visible;
  z-index: 2;
}
nav h3 {
  color: #2596be;
}
.dropdown-menu {
  display: inline-block;
  margin-left: -55px;
  margin-top: 10px;
}
ul {
  padding-left: 10px;
  list-style: none;
}
ul button {
  background: none;
  border: none;
  padding: 0;
}
.showDropDown {
  visibility: hidden;
  /* height: 160px; */
}

/* booksList */
.books {
  padding-left: 5vw;
  padding-right: 1vw;
  transition: var(--transition);
  width: 90vw;
}

.search-input {
  width: 25vw;
}

.search-div {
  display: flex;
}

.search-div button {
  width: 0;
  margin: 0;
  padding: 0;
  position: relative;
  left: -30px;
  font-size: small;
  background: none;
  border: none;
}
.search-div img {
  height: 25px;
}
.books-form-div {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  vertical-align: bottom;
}

.books-table {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
}
.books-table table th {
  padding: 10px 0;
}

.table > tbody > tr > th,
.table > thead > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
}

.books-table tr,
.books-table th,
.books-table td {
  width: 20%;
  height: 8vh;
  text-align: left;
}
.books-table tr:nth-child(6),
.books-table th:nth-child(6),
.books-table td:nth-child(6) {
  width: 25%;
  text-align: end;
  padding-right: 20px;
}
.pagination-nav {
  padding: 0;
  margin: 0;
  position: relative;
  float: right;
  width: auto;
}
.pagination-nav nav {
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
}

.lock-icon img {
  margin: 0 25px;
  margin-right: 0;
  width: 20px;
}

.lock-icon button {
  background: none;
  border: none;
}

.icons-div {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.lock1:hover .eye-icon-normal,
.lock2:hover .edit-icon-normal,
.lock3:hover .delete-icon-normal,
.lock1 .eye-icon-active,
.lock2 .edit-icon-active,
.lock3 .delete-icon-active {
  display: none;
}
.lock1:hover .eye-icon-active,
.lock2:hover .edit-icon-active,
.lock3:hover .delete-icon-active {
  display: inline;
}

.pagination > li > a {
  background-color: transparent;
  border: none;
  color: grey;
}

.pagination > li > a:hover {
  background-color: transparent;
}

/* book-details */

/* repeated used classes */

/* .content {
  width: 100vw;
  height: 100vh;
} */

/* .books {
  padding-left: 5vw;
  padding-right: 1vw;
}
/* .books h1 {
  padding-left: 5vw;
} */
/* .books {
  transition: var(--transition);
  width: 90vw;
}  */

/*  */

.full-ListBook {
  width: 100vw;
  transition: var(--transition);
}

/* button:focus {
  border: none;
  outline: 0;
} */
*:focus {
  outline: 0 !important;
}

/* add-book styles */
.books h1 {
  margin-bottom: 15px;
}

.main-div-with-book-details {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 77vh;
  border-radius: 32px;
  padding: 2vw;
}

.left {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  padding-right: 10px;
}
.left input,
.left select {
  margin-bottom: 25px;
}

.left input.form-control.required:visited {
  border: 1px solid red;
}
.left p {
  /* display: none; */
  position: relative;
  bottom: -5px;
  left: 5px;
  margin: 5;
  margin-top: -25px;
  color: #dc3545;
}

/* .missing-field-warning {
  color: #dc3545;
} */
.right {
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: ce;
}
.form-group select {
  background-color: #eff1fd;
  width: 100%;
  border: none;
}

select.form-select.form-control {
  color: grey;
}

.invisibleSpan {
  visibility: hidden;
}

input[type="file"] {
  /* border: 1px solid red; */
  width: 60%;

  /* background: none;
  border: 2px solid #e03fd8;
  border-radius: 12px;
  font-size: 12px;
  margin-bottom: 10px;
  color: #e03fd8;
  border-radius: 5px;
  font-weight: bold;
  border-radius: 12px;
  padding: 4px 20px; */
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload Book Cover";
  display: inline-block;
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  /* border: 1px solid #999; */
  /* border-radius: 3px; */
  /* padding: 5px 8px; */
  /* outline: none; */
  /* white-space: nowrap; */
  /* -webkit-user-select: none; */
  /* cursor: pointer; */
  /* text-shadow: 1px 1px #fff; */
  /* font-weight: 700; */
  /* font-size: 10pt; */
  background: none;
  border: 2px solid #e03fd8;
  border-radius: 12px;
  font-size: 12px;
  margin-bottom: 10px;
  color: #e03fd8;
  border-radius: 5px;
  font-weight: bold;
  border-radius: 12px;
  padding: 10px 20px;
}
.custom-file-input:hover::before {
  /* border-color: black; */
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* @media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
} */

/* media queries */
/* @media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  /* .content {
    width: 100vw;
    height: 100vh;
  } */

/* .content {
    width: 100vw;
    height: 100vh;
    padding-left: 5vw;
    border: 1px solid red;
  } */

/* .books {
  padding-left: 5vw;
  padding-right: 1vw;
  transition: var(--transition);
  width: 90vw;
} */

/* .books {
    padding-left: 5vw;
    padding-right: 7vw;
    transition: var(--transition);
    width: 90vw;
  } */
/* }  */

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  .content {
    width: 100vw;
    height: 100vh;
  }
  .content nav {
    padding-left: 12vw;
  }
  .books {
    padding-left: 12vw;
    height: 80vh;
    transition: var(--transition);
  }
  .books-table {
    margin-top: 5px;
  }
  .pagination-nav {
    margin-top: -5vh;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.65rem;
  }
  h4 {
    font-size: 0.9rem;
  }
  body {
    /* font-size: 0.85rem; */
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 0.85;
  }
  .content {
    width: 100vw;
    height: 100vh;
    font-size: xx-small;
  }
  .content nav {
    padding-left: 20vw;
  }

  aside {
    width: 23%;
  }
  .logo {
    height: 41px;
  }

  .add-book-div button {
    font-size: x-small;
  }

  .search-div img {
    height: 15px;
  }

  .search-input {
    width: 20vw;
    height: 5vh;
  }

  .books {
    padding-left: 15vw;
    height: 80vh;
    transition: var(--transition);
  }
  .books-table {
    margin-top: 5px;
  }

  .books-table tr,
  .books-table th,
  .books-table td {
    width: 10%;
    height: 4vh;
    text-align: left;
  }
  .books-table tr:nth-child(6),
  .books-table th:nth-child(6),
  .books-table td:nth-child(6) {
    width: 5%;
    padding-right: 15px;
  }

  .lock-icon img {
    width: 10px;
  }

  .lock-icon img {
    margin: 0 0px;
    margin-right: 0;
    /* width: 20px; */
  }

  .pagination-nav {
    margin-top: -5vh;
  }
}

@media screen and (max-width: 481px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 0.9rem;
  }
  h5 {
    font-size: smaller;
  }
  body {
    /* font-size: 0.85rem; */
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 0.85;
  }
  .content {
    width: 100vw;
    height: 100vh;
    font-size: smaller;
  }
  .content nav {
    padding-left: 20vw;
  }

  aside {
    width: 23%;
    padding-top: 20px;
  }
  .logo {
    height: 21px;
  }
  #root > main > div > aside > div.sidebar-Header > button {
    width: 25px;
    padding-right: 0px;
    padding-left: 6px;
    margin-left: 45px;
  }
  .dropdown .btn {
    font-size: smaller;
  }

  .dropdown-menu {
    /* width: 5vw; */
    width: 12px;
    /* min-height: 15px; */
    min-width: 120px;
    margin-right: 15px;
    padding-right: 15px;
    /* background-color: #dc3545; */
    /* position: relative; */
    /* right: 150px; */
  }
  /* .dropdown-menu > ul { */
  /* padding-bottom: 0;s */
  /* width: 5vw; */
  /* width: 12px; */
  /* margin-right: 150px; */
  /* background-color: #dc3545; */
  /* } */
  .dropdown-menu > ul > li {
    width: 12px;
    /* font-size: smaller; */
    font-size: 9px;
    padding-top: 5px;
  }
  /* #root > main > div > div > nav > div.dropdown > div {
    padding-right: 100px;
    margin-right: 100px;
    font-size: smaller;
  } */

  /* div.dropdown-menu {
    font-size: smaller;
  } */
  /* .dropdown-menu {
    display: inline-block;
    margin-left: -55px;
    margin-top: 10px;
    font-size: smaller;
  } */

  .add-book-div button {
    font-size: smaller;
  }

  .search-div img {
    height: 10px;
    padding-right: 0;
    padding-left: 15px;
    margin-bottom: 5px;
  }

  .search-input {
    width: 25vw;
    height: 4vh;
    font-size: smaller;
  }

  .books {
    padding-left: 15vw;
    height: 10vh;
    transition: var(--transition);
  }
  .books-table {
    margin-top: 5px;
  }

  /* .books-table tr,
  .books-table th,
  .books-table td {
    width: 5%;
    height: 2vh;
    text-align: left;
  }
  .books-table tr:nth-child(6),
  .books-table th:nth-child(6),
  .books-table td:nth-child(6) {
    width: 5%;
    padding-right: 5px;
  } */
  /* works */

  .table > thead > tr > th,
  .table > thead > tr > td {
    font-size: smaller;
    padding-left: 5px;
  }
  .table > tbody > tr > td {
    font-size: smaller;
    padding-left: 5px;
  }

  .tab {
    height: 50px;
    padding-left: 10px;
    /* margin-top: 25px; */
  }
  .tab img {
    height: 10px;
  }
  /* works */

  .lock-icon img {
    width: 10px;
  }

  .lock-icon img {
    margin: 0 0px;
    margin-right: 0;
    /* width: 20px; */
  }

  .pagination-nav {
    margin-top: -6vh;
  }
}
