:root {
  --background-color: #eff1fd;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* debugging */
/* 
* {
  border: 1px solid red;
} */
/* debugging */

body {
  margin: 0;
  /* border: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff1fd;
  overflow: none;
}

/*  */
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.card {
  margin: 0 auto;
  display: flex;
  background: white;
  border-radius: 32px;
  box-shadow: var(--light-shadow);
  text-align: center;
  width: 80vw;
}
.form-div {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  padding: 0 5vw;
}
form {
  width: 100%;
}

.form-group input {
  background-color: #eff1fd;
  width: 100%;
  border: none;
}

.password-div {
  display: flex;
}

.password-div input {
  width: 100%;
}
.password-div button {
  width: 0;
  margin: 0;
  padding: 0;
  position: relative;
  left: -45px;
  font-size: small;
  background: none;
  border: none;
}
.password-div button:hover {
  color: #0a4cd3;
}

.submitButton:hover {
  width: "9vw";
  height: "3vw";
  border-radius: "12px";
  background-color: "#4497f6";
}
button .submitButton {
  width: "9vw";
  height: "3vw";
  border-radius: "12px";
  background-color: "#4497f6";
}

.img-container {
  width: 45%;
  /* background-image: linear-gradient(
    to right,
    #a446c2,
    #923fbe,
    #7f38ba,
    #6b32b5,
    #542db1,
    #4836b7,
    #383fbc,
    #2346c1,
    #225bd0,
    #276fde,
    #3383eb,
    #4497f6
  ); */
  background-image: linear-gradient(
    90deg,
    rgba(221, 139, 239, 1) 5%,
    rgba(110, 57, 183, 1) 50%,
    rgba(42, 39, 171, 1) 85%,
    rgba(68, 151, 246, 1) 100%
  );
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
.logo {
  height: 50px;
}

.img {
  opacity: 0.2;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  height: 70vh;
  object-fit: cover;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}
/* list-books component */

aside {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: white;
  transition: var(--transition);
  transform: translate(-90%);
}

.show-sidebar {
  transform: translate(0);
}

.sidebar-Header {
  padding: 15px;
  padding-right: 0;
}

.sidebar-tabs {
  padding-top: 15px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  vertical-align: middle;
  height: 60px;
  padding-left: 20px;
}
.tab:hover {
  background-color: var(--background-color);
  border-right: 3px solid #ad5eab;
}
/* .colored-edge {
  width: 2px;
  background-color: #ad5eab;
} */

.active-tab {
  background-color: var(--background-color);
  border-right: 3px solid #ad5eab;
}

.minimized-listBook {
  width: 80vw;
  transition: var(--transition);
}

/* .full-ListBook {
  width: 100vw;
  transition: var(--transition);
} */

.content {
  width: 100vw;
  height: 100vh;
  /* border: 10px solid red; */
}

/* navbar */
nav {
  transition: var(--transition);
  max-width: 100%;
  width: 90%;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  padding-left: 5vw;
  padding-right: 1vw;
  justify-content: space-between;
  vertical-align: bottom;
  overflow: visible;
  z-index: 2;
}
nav h3 {
  color: #2596be;
}
.dropdown-menu {
  /* z-index: 10; */
  display: inline-block;
  /* margin-right: -200px; */
  margin-left: -55px;
  margin-top: 10px;
  /* padding-right: -200px; */
  /* position: relative;
  right: 100px;
  top: 1px; */
}
ul {
  padding-left: 10px;
  list-style: none;
}
ul button {
  background: none;
  border: none;
  padding: 0;
}
.showDropDown {
  visibility: hidden;
  /* height: 160px; */
}

/* booksList */
.books {
  padding-left: 5vw;
  padding-right: 1vw;
}
/* .books h1 {
  padding-left: 5vw;
} */
.books {
  transition: var(--transition);
  width: 90vw;
}

.search-input {
  width: 25vw;
}

.search-div {
  display: flex;
}

/* .password-div input {
  width: 100%;
} */
.search-div button {
  width: 0;
  margin: 0;
  padding: 0;
  position: relative;
  left: -30px;
  font-size: small;
  background: none;
  border: none;
}
.search-div img {
  height: 25px;
}
.books-form-div {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  vertical-align: bottom;
  /* align-items: center; */
}

/* .add-book-div button{
  margin: 0;
  margin-left: 50px;
} */
/* .add-book-div button {
  margin-left: -55px;
  margin-top: 10px;
  align-items: center;
} */

.books-table {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  /* padding: 10px; */
}
.books-table table th {
  padding: 10px 0;
}

.table > tbody > tr > th,
.table > thead > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
}

.books-table tr,
.books-table th,
.books-table td {
  width: 20%;
  height: 8vh;
  text-align: left;
  /* vertical-align: middle; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* height: 60px; */
  /* align-items: center;
  justify-content: center; */
  /* vertical-align: text-top; */
}
.books-table tr:nth-child(6),
.books-table th:nth-child(6),
.books-table td:nth-child(6) {
  width: 25%;
  text-align: end;
  padding-right: 20px;
}
.pagination-nav {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  position: relative;
  float: right;
  width: auto;
  /* right: 0; */
  /* height: auto; */
  /* padding-right: 1vw; */
  /* padding-left: 5vw; */
  /* left: 0; */
  /* width: 100%; */
}
.pagination-nav nav {
  /* align-items: end; */
  /* justify-content: end; */
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
  width: 100%;
  background: transparent;
  /* height: 100%; */
  /* height: auto; */
}

.lock-icon img {
  margin: 0 25px;
  margin-right: 0;
  width: 20px;
}

.lock-icon button {
  background: none;
  border: none;
}

.icons-div {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.lock1:hover .eye-icon-normal,
.lock2:hover .edit-icon-normal,
.lock3:hover .delete-icon-normal,
.lock1 .eye-icon-active,
.lock2 .edit-icon-active,
.lock3 .delete-icon-active {
  display: none;
}
.lock1:hover .eye-icon-active,
.lock2:hover .edit-icon-active,
.lock3:hover .delete-icon-active {
  display: inline;
}

.pagination > li > a {
  background-color: transparent;
  border: none;
  color: grey;
}

.pagination > li > a:hover {
  background-color: transparent;
}

/* book-details */

/* repeated used classes */

/* .content {
  width: 100vw;
  height: 100vh;
} */

/* .books {
  padding-left: 5vw;
  padding-right: 1vw;
}
/* .books h1 {
  padding-left: 5vw;
} */
/* .books {
  transition: var(--transition);
  width: 90vw;
}  */

/*  */

.full-ListBook {
  width: 100vw;
  transition: var(--transition);
}

/* button:focus {
  border: none;
  outline: 0;
} */
*:focus {
  outline: 0 !important;
}

/* toast styles */
